.App {
  text-align: center;
  font-family: 'Poller One', cursive;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}



.header{
  position: relative;
  border-bottom: solid 2px grey;

}

.favorites{
  position: absolute;
  right: 0;
  top: -10px;
  ;
}

.button{
  margin: 50px;
  background-color: grey;
  border: 3px solid #FFD700;
  font-family: 'Poller One', cursive;
  opacity: .7;
}

.logo{
  color: grey;
  font-size: 45px;
}

.select-category{
  color: grey;
  font-size: 25px;
  text-align: center;
}
