.random-film{
  display: inline-block;
  width: 25%;
  float: left;
  color: white;
  /*background-color: slategrey;*/
  height: 100vh;
  -moz-animation: scroll-up 20s linear;
  -webkit-animation: scroll-up 20s linear;
  animation: scroll-up 20s linear;
}


@-moz-keyframes scroll-up {
 0%   { -moz-transform: translateY(100%); }
 100% { -moz-transform: translateY(-100%); }
}
@-webkit-keyframes scroll-up {
 0%   { -webkit-transform: translateY(100%); }
 100% { -webkit-transform: translateY(-100%); }
}
