
@font-face {
  font-family: 'Jedi';
  src: url('../boba-fonts_star-jedi/Star_Jedi_Rounded.ttf')  format('truetype'), /* Safari, Android, iOS */
}

body {
  font-family: 'Jedi';
  margin: 0;
  padding: 0;
  background-color: #C0C0C0;
  /*font-family: 'Diplomata SC', cursive;*/
  background-image: url("../trooper.jpg");
  background-size: cover;
  repeat: no-repeat;
}
