body * {
  text-align: center;
  font-family: 'Poller One', cursive;
}

body,
html {
  margin: 0;
  padding: 0;
  background-color: black;
  background-position: -8px 95px;
  /*height: 100%;*/
  width: 100%;
  background-image: url("../trooper.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
