

body {
  font-family: 'Jedi';
  margin: 0;
  padding: 0;
  background-color: #C0C0C0;
  height: 100vh;
  width: 100%;
  /*font-family: 'Diplomata SC', cursive;*/
  background-image: url("../trooper.jpg");
  background-size: cover;
  repeat: no-repeat;
}
